@charset "utf-8";

// Import a Google Font

// Set colors

////////////
// COLORS //
////////////

$turquoise: #9CEEDA;
$black: #333;
$white: #fff;

$purple: #8A4D76;
$pink: #FA7C91;


$primary: $black;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;



///////////
// FONTS //
///////////

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800;900&display=swap');
$family-sans-serif: "Montserrat", sans-serif;

$weight-medium: 400;
$weight-semibold: 800;
$weight-bold: 900;



////////////////
// COMPONENTS //
////////////////

$body-background-color: $turquoise;
$navbar-background-color: $primary;
$navbar-height: 5rem;
$navbar-item-img-max-height: 4rem;
$navbar-item-color: $white;

$control-border-width: 2px;

$input-border-color: transparent;
$input-shadow: none;

$radius: 0px;

$size-1: 4rem;



// Import only what you need from Bulma
@import "../node_modules/bulma/bulma.sass";

